html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

body {
  background: #fff url('../img/bkg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #336677;
}

/* Deck styles*/
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg,#F2F094 20%, #68C1DF 80%);
  padding: 32px;
  border-radius: 20px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;

}

.deck .card {
  height: 125px;
  width: 125px;
  background: #336677;
  font-size: 0;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #91E4FF;
  cursor: default;
}

.deck .card.show {
    font-size: 45px;
}

.deck .card.match {
  cursor: default;
  background: #FFBD78;
  font-size: 45px;
}

/* score panel styles */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
  color: #336677;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 25px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size: 30px;
}

/*
Congratulations popup
*/
.congrat-popup-bkg {
  display: none;
  background-color: rgb(210,227,164, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.congrat-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 12px solid #E9D16A;
  border-radius: 5px 55px;
  padding: 0 30px 30px;
  box-shadow: 0px 3px 25px 0 rgb(224,183,93);
  width: 600px;
  height: auto;
  background-color: #F2EF94;
  color: #336677;
}

#close-popup {
  background-color: #336677;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 7px 14px;
  font-weight: bold;
}

